<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% elsif page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="Dental Solutions NI, a leading Dental Practice based in Eglinton, Northern Ireland" />

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- CSS -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/style.css">
  <!-- endinject -->

  <!-- FONT -->
  <script src="https://use.typekit.net/gvj0mfw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{site.baseurl}}/assets/images/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{site.baseurl}}/assets/images/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{site.baseurl}}/assets/images/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{site.baseurl}}/assets/images/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{site.baseurl}}/assets/images/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{site.baseurl}}/assets/images/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/favicon-16x16.png" sizes="16x16" />
  <meta name="application-name" content="Dental Solutions"/>
  <meta name="msapplication-TileColor" content="#39A8DF" />
  <meta name="msapplication-TileImage" content="{{site.baseurl}}/assets/images/mstile-144x144.png" />

</head>
