---
title: Referral Case Studies &ndash; Dental Solutions
layout: default
class: referring-dentists
description: Dental Solutions, Eglinton accept referrals for difficult aesthetic cases
  and challenging rehabilitating toothwear cases
---

<section class="section-page-large2 section-border-bottom u-flex-center-center">
  <div class="container">
    <h1 class="title-spaced u-ttu u-text-center">Referral Case Studies</h1>
  </div><!-- /container -->
</section>

<section>
  <div class="container container-large">
    {% for referral in site.referrals %}
    <article id="{{ post.hash_link }}" class="referral-item row">
      <div class="one-half column">
        <h2 class="medium-heading medium-weight u-mb-small">{{ referral.title }}</h2>
          <p>{{ referral.content }}</p>
          {% if referral.file %}
            <a class="button button-small button-wide button-ghost-blue" href="{{site.baseurl}}/{{referral.file}}">Download {{referral.file_type}} {% if referral.file_size %} ({{ referral.file_size }}) {% endif %}</a>
          {% endif %}

      </div><!-- /column -->
      <div class="one-half column">
        <img alt="{{referral.title}}" class="lazyload" data-src="{{site.baseurl}}/assets/images/{{referral.image}}">
      </div><!-- /column -->
    </article>
    {% endfor %}
  </div><!-- /container -->


</section>
