---
layout: default
regenerate: true
title: "Our Team &ndash; Dental Solutions"
description: "Meet our motiviated, highly trained, and above all, friendly Dentistry Team at Dental Solutions NI, Eglinton, Northern Ireland"
permalink: /team/
---
<section class="section-page">
  <div class="container container-fluid">
    <h1 class="u-hide-text u-height-0">Meet the team</h1>
    {% for member in site.team %}
      <div itemscope itemtype="http://schema.org/Person" class="flex-grid u-flex-v-center team-item" style="background-image: url({{site.baseurl}}/assets/images/{{member.image}}.jpg);">
        <div class="overlay overlay-light"></div>
          <div class="flex-grid-item">
            <div class="team-item-content">
              <div class="team-item-heading">
                <h2 itemprop="name" class="u-ttu title-spaced team-item-title">{{member.name}}</h2>
                <span itemprop="jobTitle" class="team-item-initials color-blue">{{member.initials}}</span>
                {% if member.GDC != nil %}
                <br>
                <span class="team-item-initials color-blue">GDC NO: {{member.GDC}}</span>
                {% endif %}
              </div><!-- /team-item-heading -->
              <p class="intro-text">{{member.excerpt}}</p>
              {{member.content}}
            </div><!-- /team-item-content -->
          </div><!-- /flex-grid-item -->

          <div class="flex-grid-item">
            <img itemprop="image"  class="lazyload" data-sizes="auto" data-src="{{site.baseurl}}/assets/images/{{member.image}}.jpg" data-srcset="{{site.baseurl}}/assets/images/{{member.image}}.jpg, {{site.baseurl}}/assets/images/{{member.image}}-2x.jpg 2x" alt="{{member.name}}">
          </div>
      </div><!-- /team-item -->
    {% endfor %}
  </div><!-- /container -->
</section>
